/* feature boxes */
.feature-box   {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    width: 30%;
  }

  .fe28per{
    width:20%;

  }

  .imagesett{
      width: 200px;
      height: 200px;
  }

  .testimonial-box   {
    display: inline-block;
    width: 30%;
    padding: 20px 30px;
  }
  .testimonial-content   {
    background: #FFF;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;
  }


  /* Large Feature */
  .feature-box2   {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    width: 45%;
  }

  .imagesettLar{
    width: 80%;
    height: 80%;
}